@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  background:0 linear-gradient(353deg, rgba(25,27,37,1) 1%, rgba(43,44,50,1) 9%, rgba(39,40,47,1) 31%, rgba(52,52,57,1) 60%, rgba(177,177,177,1) 100%);
 
}
  
 
  
  nav{
    margin: 27px auto 0;
    position: absolute;
    top: 0px; left:200px;
    width: 1100px;
    height: 100px;
    background: linear-gradient(88deg, #3f3f3f 0%, #292929 100%);
    opacity: 10;
    border-radius:8px;
    font-size:0;
    
    
  
  }
  
  nav a {
    padding-top: 20px;
    margin: 0 15px;
    line-height: 50px;
    height: 100%; 
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:white;
    cursor: crosshair;
  }
  
  nav .animation{
    position:absolute;
    height:100%;
    top:0;
    z-index:0;
    transition:all .5s ease 0s;
    border-radius:8px;
  }
  
  
  a:nth-child(1){
    width: 140px;
    left: 80px;
  }
  a:nth-child(2){
    width: 110px;
    left: 90px;
  }
  a:nth-child(3){
    width: 100px;
    left: 118px;
  }
  a:nth-child(4){
    width: 160px;
    left:170px;
  }
  a:nth-child(5){
    width: 120px;
    left: 180px;
  }
  nav .start-accueil, a:nth-child(1):hover~.animation{
    width: 150px;
    left: 87px;
    background-color: #1abc7e;
  }
  nav .start-jeux, a:nth-child(2):hover~.animation{
    width: 150px;
    left:260px;
    background-color: #e74c3c;
  }
  nav .start-logiciel, a:nth-child(3):hover~.animation{
    width: 150px;
    left:435px;
    background-color: #3498db;
  }
  nav .start-gratuit, a:nth-child(4):hover~.animation{
    width: 160px;
    left:625px;
    background-color: #9b59b6;
  }
  nav .start-payant, a:nth-child(5):hover~.animation{
    width: 140px;
    left:815px;
    background-color: #e67e22;
  }
  
  
  

  .search_bar{
  
    margin-top: 150px;
    margin-left: 450px;
    width: 400px;
    height: 20px;
    cursor: revert; 
  }

  input{
    border: 5px rgb(238, 231, 231) solid;
    border-radius: 20px; 
  
    width: 600px;
    height: 40px;
    background: #000000;
    color: white;
    transform: scale(1);
    
  }
  input:hover{
    transform: scale(1.3);
  }
  /* le button de recherche*/
  
  
  /* ... (52 lines left) */
  .new{
    margin-top: 250px;
  text-align: left;
    font-family: 'Press Start 2P', cursive;
    color: rgb(16, 255, 8);
    /* text-shadow:  0 0 7px rgb(18, 228, 32), 
    0 0 10px rgb(9, 235, 95), 
    0 0 42px rgb(11, 247, 34),   
    0 0 77px rgb(43, 215, 20), 
    0 0 100px rgb(11, 239, 87) */
    animation: 2s linear 0s  colore;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;  
    border-bottom: 5px solid white;
    width: 300px;
  }
 /* jeu */

 .gta5{

    margin-top: 200px;
    border: 6px solid white;
    width: 200px;
    color: white;
 }
 /* .gta5:hover{

 } */
 .Info_gta5{
   text-align: center;
 }

 
 

 .container_1{
  display: flex;
  
  
  
  
 }





@keyframes colore {



  20% {
    color: rgb(0, 110, 255);
  }

  /* 40% {
    color: rgb(86, 69, 37);
  }

  60% {
    color: rgb(255, 255, 145);
  }

  80% {
    color: rgb(28, 56, 28);
  } */

  100% {
    color: rgb(16, 255, 8);
  }

}









/* Button connexion, inscription */
.container_2{
  display: flex;
  flex-direction: column;
 margin-left: 1300px;
}

  

#myBtn{
  
  width: 200px ;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
 background: linear-gradient(88deg, #3f3f3f 0%, #ffffff 100%);


}

#myBtne{
  

  width: 200px ;
  height: 30px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  
  background: linear-gradient(88deg, #e4dbdb 0%, #292929 100%);

}



/* Button connexion, inscription */

/* fh5 */
.fh5{
  border: 5px solid white;
  margin-top: 200px;
  margin-left: 100px;
  color: white;

}
.Info_fh5{
  text-align: center;
}

  

/* fh5 */

/* Boutton connexion */

.container_logo{
  background: 100vh black;
  text-align: center;
  background-color: #000000;
}

/* Boutton connexion */


/* spiderman remastered */
.remastered_spider{
  border: 5px solid white;
  margin-top: 200px;
  margin-left: 100px;
  color: white;
}

.info_spiderman{
  text-align: center;
}




/* spiderman remastered */




/* Minecraft */


.minecraft{
  border: 5px solid white;
  margin-top: 200px;
  margin-left: 100px;
  color: white;
}

.info_minecraft{
  text-align: center;
}
/* Minecraft */


.song{
margin-top: 20px;
}


 /* just cause 3  */
 .just_cause_3{
  border: 5px solid white;
  margin-top: 200px;
  margin-left: 100px;
  color: white;
}

.info_Just3{
  text-align: center;
}


  /* just cause 3  */



  .container_3{
    display: flex;
  }

  /* mk11 */
  .mk11{
    border: 5px solid white;
    margin-top: 150px;
    
    color: white;
  }
  
  .info_mk11{
    text-align: center;
  }

  /* mk11 */
  
  /* raft */

  .raft{
    border: 5px solid white;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
  }
  
  .info_raft{
    text-align: center;
  }

  /* raft */

  /* rust */

  .rust{
    border: 5px solid white;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
  }
  
  .info_rust{
    text-align: center;
  }


  /* rust */

  /* mfs */

  .mfs{
    border: 5px solid white;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
  }
  
  .info_mfs{
    text-align: center;
  }
  /* mfs */


  /* witcher 3 */


  .witcher_3{
    border: 5px solid white;
    margin-top: 150px;
    margin-left: 100px;
    color: white;
  }
  
  .info_witcher_3{
    text-align: center;
  }



    /* witcher 3 */