body{
    background-color: rgb(0, 0, 0);

}

.container_1{
    text-align: center;
    margin-top: 100px;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 10px;
     width: 400px;
     height: 500px;
     margin-left: 550px;
}
label{
    font-size: 18px;
    color: white;
    
}
.lgo{
    text-align: center;
}

input{
    width: 300px;
    height: 30px;
    
}

h2{
    color: aliceblue;
    text-decoration: underline;
}


h1{
    color: rgb(0, 255, 51);
}

.email{
    margin-top: 30px;
}



.password{
    margin-top: 30px;
}

button{
    border: 0px white solid;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: aquamarine;
    margin-top: 50px;
}