body{
    background: rgb(25,27,37);
    background: linear-gradient(90deg, rgba(25,27,37,1) 1%, rgba(43,44,50,1) 9%, rgba(39,40,47,1) 39%, rgba(52,52,57,1) 64%, rgba(177,177,177,1) 100%);
}




nav{
    margin: 27px auto 0;
    position: absolute;
    top: 0px; left:200px;
    width: 1100px;
    height: 100px;
    background: linear-gradient(88deg, #3f3f3f 0%, #292929 100%);
    opacity: 10;
    border-radius:8px;
    font-size:0;
    
    
  
  }
  
  nav a {
    padding-top: 20px;
    margin: 0 15px;
    line-height: 50px;
    height: 100%; 
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:white;
    cursor: crosshair;
  }
  
  nav .animation{
    position:absolute;
    height:100%;
    top:0;
    z-index:0;
    transition:all .5s ease 0s;
    border-radius:8px;
  }
  
  
  a:nth-child(1){
    width: 140px;
    left: 80px;
  }
  a:nth-child(2){
    width: 110px;
    left: 90px;
  }
  a:nth-child(3){
    width: 100px;
    left: 118px;
  }
  a:nth-child(4){
    width: 160px;
    left:170px;
  }
  a:nth-child(5){
    width: 120px;
    left: 180px;
  }
  nav .start-accueil, a:nth-child(1):hover~.animation{
    width: 150px;
    left: 87px;
    background-color: #1abc7e;
  }
  nav .start-jeux, a:nth-child(2):hover~.animation{
    width: 150px;
    left:260px;
    background-color: #e74c3c;
  }
  nav .start-logiciel, a:nth-child(3):hover~.animation{
    width: 150px;
    left:435px;
    background-color: #3498db;
  }
  nav .start-gratuit, a:nth-child(4):hover~.animation{
    width: 160px;
    left:625px;
    background-color: #9b59b6;
  }
  nav .start-payant, a:nth-child(5):hover~.animation{
    width: 140px;
    left:815px;
    background-color: #e67e22;
  }
  
  
  

  .search_bar{
  
    margin-top: 150px;
    margin-left: 450px;
    width: 400px;
    height: 20px;
    cursor: revert; 
  }

  input{
    border: 5px rgb(238, 231, 231) solid;
    border-radius: 20px; 
  
    width: 600px;
    height: 40px;
    background: #000000;
    color: white;
    transform: scale(1);
    
  }
  input:hover{
    transform: scale(1.3);
  }



  .game_gta{
    border: 5px #5a5a5a solid;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-top: 200px;
    margin-left: 300px;
    display: flex;
    cursor: crosshair;
  }
  .container-gta_5{
    display: flex ;
    flex-direction: column;
  }
  .title {
    font-family: 'Press Start 2P', cursive;
    text-shadow:  0 0 7px rgb(187, 79, 17);
    position: relative;
    margin-left: 200px;
  }
  
  .description-gta_5{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 18px;
   
  }
  .game_gta:hover{
    background: #cfcfcf;
    transition: all 2s ease 0s;
  }
  
  .dwnld-btn-gta5{
    width: 100px;
    height: 100px;
    padding-left: 150px;
    padding-top: 50px;
    cursor: pointer;
  }
  
  .image_gta {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-bottom: 20px;
  }

  
  .file-size-gta5 {
    font-family: 'Unbounded', cursive;
    margin-top: 160px;
    margin-left: 70px;
  }

  .game_fh5{
    border: 5px #5a5a5a solid;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-top: 200px;
    margin-left: 300px;
    display: flex;
    cursor: crosshair;
    margin-top: 35px;
  }
  
  .container-fh5{
    display: flex ;
    flex-direction: column;
  }
  
  .game_fh5:hover{
    background: #cfcfcf;
    transition: all 2s ease 0s;
  }
  
  .image_fh5 {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-bottom: 20px;
  }

  .description-fh5{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 180px;
    font-size: 18px;
   
  }


  .dwnld-btn-fh5{
    width: 100px;
    height: 100px;
    padding-left: 180px;
    padding-top: 50px;
    cursor: pointer;
  }

  .file-size-fh5 {
    font-family: 'Unbounded', cursive;
    margin-top: 160px;
    margin-left: 100px;
  }

  .game_minecraft{
    border: 5px #5a5a5a solid;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-top: 200px;
    margin-left: 300px;
    display: flex;
    cursor: crosshair;
    margin-top: 35px;
  }
  
  .container-minecraft{
    display: flex ;
    flex-direction: column;
  }
  
  .game_minecraft:hover{
    background: #cfcfcf;
    transition: all 2s ease 0s;
  }

  .image_minecraft {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-bottom: 20px;
  }
  
  .description-minecraft{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    margin-left: 200px;
    font-size: 18px;
   
  }

  .dwnld-btn-minecraft{
    width: 100px;
    height: 100px;
    padding-left: 85px;
    padding-top: 50px;
    cursor: pointer;
  }

  .file-size-minecraft {
    font-family: 'Unbounded', cursive;
    margin-top: 160px;
    padding-right: 70px;
  }

  /**/

  .game-spider_man{
    border: 5px #5a5a5a solid;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-top: 200px;
    margin-left: 300px;
    display: flex;
    cursor: crosshair;
    margin-top: 35px;
  }
  .container-spider_man{
    display: flex ;
    flex-direction: column;
  }
  .game-spider_man:hover{
    background: #cfcfcf;
    transition: all 2s ease 0s;
  }

  .image-spider_man {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-bottom: 20px;
  }

  .description-spider_man{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 18px;
   
  }

  .dwnld-btn-spider_man{
    width: 100px;
    height: 100px;
    padding-left: 105px;
    padding-top: 50px;
    cursor: pointer;
  }

  .file-size-spider_man {
    font-family: 'Unbounded', cursive;
    margin-top: 160px;
    margin-left: 30px;
  }

  /**/

    .game-just_cause_3{
    border: 5px #5a5a5a solid;
    border-radius: 5px;
    height: 200px;
    width: 800px;
    margin-top: 200px;
    margin-left: 300px;
    display: flex;
    cursor: crosshair;
    margin-top: 35px;
  }
  .container-just_cause_3{
    display: flex ;
    flex-direction: column;
  }
  .game-just_cause_3:hover{
    background: #cfcfcf;
    transition: all 2s ease 0s;
  }

  .image-just_cause_3 {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-bottom: 20px;
  }

  .description-just_cause_3{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 18px;
   
  }

  .dwnld-btn-just_cause_3{
    width: 100px;
    height: 100px;
    padding-left: 160px;
    padding-top: 50px;
    cursor: pointer;
  }

  .file-size-just_cause_3 {
    font-family: 'Unbounded', cursive;
    margin-top: 160px;
    margin-left: 80px;
  }

  
  /**/
  .game-mk11{
  border: 5px #5a5a5a solid;
  border-radius: 5px;
  height: 200px;
  width: 800px;
  margin-top: 200px;
  margin-left: 300px;
  display: flex;
  cursor: crosshair;
  margin-top: 35px;
}
.container-mk11{
  display: flex ;
  flex-direction: column;
}
.game-mk11:hover{
  background: #cfcfcf;
  transition: all 2s ease 0s;
}

.image-mk11 {
  width: 150px;
  height: 200px;
  position: absolute;
  margin-bottom: 20px;
}

.description-mk11{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-left: 200px;
  font-size: 18px;
 
}

.dwnld-btn-mk11{
  width: 100px;
  height: 100px;
  padding-left: 160px;
  padding-top: 50px;
  cursor: pointer;
}

.file-size-mk11 {
  font-family: 'Unbounded', cursive;
  margin-top: 160px;
  margin-left: 80px;
}
