@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */



body {    
  background: linear-gradient(88deg, #3f3f3f 0%, #292929 100%);  
}


.game-img img{
    width: 250px;
    height: 400px;
    position: absolute;
    border: 5px solid black;
    border-radius: 12px;
    top: -5px;
    left: -5px;
}
  
.background-image img{
    opacity: 20%;
    width: 1460px;
    height: 1000px;
    position: absolute;
    margin-left: 50px;
    top: -450px;
    
}

.background-image img:hover{
    transition: all 2s ease 0s;
    opacity: 80%;
    margin-top: -30px;
}

.info{
  background: linear-gradient(88deg, #3f3f3f 0%, #292929 100%);

  border: 5px solid #292929;
  border-right: transparent;
  width: 1522px;
  height: 500px;
  position: absolute;
  left: -5px;
  margin-top: 395px;
}

.title{
  position: absolute;
  margin-left: 120px;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  background: -webkit-linear-gradient(rgb(92, 92, 92),  red, #3f3f3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.info .class-description{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding-left: 120px;
  padding-top: 150px;
  background: -webkit-linear-gradient(#eee, rgb(92, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.info .description{
  font-family: 'Roboto Mono', monospace;
  padding-top: 250px;
  margin-left: -190px;
}


.info .class-recomendation{
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  padding-left: 750px;
  padding-top: 150px;
  background: -webkit-linear-gradient(#eee, rgb(92, 92, 92));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.info .graphique-recomendation{
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  padding-left: 750px;
  padding-top: 245px;
}

.other-info{
  font-family: 'Roboto Mono', monospace;
  margin-top: 430px;
  margin-left: -315px;
}

.container-align{
  display: flex;

}

.download-game-btn{
  border: 5px solid gray;
  border-radius: 10px;
  position: absolute;
  display: flex;
  width: 400px;
  height: 80px;
  margin-left: 1020px;
  margin-top: 290px;
  transform: scale(1);
  cursor: pointer;
}

.download-game-btn:hover{
  transform: scale(1.3);
  transition: all 1s;
  border: 5px solid green;
}

.download-game-img{
  width: 70px;
  height: 80px;
  left: 50px
  
}

.download-words{
  margin-left: 30px;
  margin-top: 15px;
  font-family: 'Roboto Mono', monospace;
}